/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Cabecera */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Sección de inicio */
#home {
    text-align: center;
    padding: 50px 0;
    background-color: #f4f4f4;
}

#home h1 {
    font-size: 3em;
    color: #333;
}

#home p {
    font-size: 1.2em;
    color: #666;
}

/* Sección de servicios */
#servicios {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

#servicios h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.servicio {
    margin-bottom: 30px;
}

.servicio h3 {
    font-size: 2em;
    color: #333;
}

.servicio p {
    color: #666;
}

/* Sección de Escríbenos */
#Escribenos {
    padding: 50px 0;
    background-color: #f4f4f4;
    text-align: center;
}

#Escribenos form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

#Escribenos label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#Escribenos input, #Escribenos textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#Escribenos button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

#Escribenos button:hover {
    background-color: #555;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Animación para las secciones al hacer scroll */
section {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

section.visible {
    opacity: 1;
}

/* Sección de contacto */
#contactos {
    padding: 50px 0;
    background-color: #f4f4f4;
    text-align: center;
}

/* Fondo de canvas */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Estilos para header, section y footer */
header, section, footer {
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: center;
}


nav {
    display: flex;
    align-items: center;
}

.logo {
    width: 120px; /* Tamaño del logo */
    height: auto;
    margin-right: 60px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}
